.ui.menu {
  font-family: GoogleSans, serif !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.container-margin {
  margin: 20px;
}

.inner-container {
  min-width: 965px;
  white-space: nowrap;
}

.collection-container {
  display: inline-block;
  width: 300px;
}

.main-content {
  display: inline-block;
  margin: 0 8px;
  vertical-align: top;
  width: calc(100% - 300px);
}