.ui.menu {
  font-family: GoogleSans, serif !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.container-margin {
  margin: 20px;
  margin-left: 5px;
}

.inner-container {
  min-width: 965px;
  white-space: nowrap;
}

.collection-container {
  display: inline-block;
  width: 300px;
}

.main-content {
  display: inline-block;
  margin: 0 8px;
  vertical-align: top;
  width: calc(100% - 300px);
}

button.ui.secondary.button {
  color: #1a73e8;
  border-color: #dadce0 !important;
  border: 1px solid;
  height: 40px;
  padding: 0 18px 0 18px !important;
  background-color: transparent;
  margin: 16px 0;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: .0107142857em;
  border-radius: 4px;
}

button.ui.secondary.button:hover {
  color: #174ea6;
  background-color: rgb(247, 250, 254);
}

button.ui.secondary.button:focus, button.ui.secondary.button:active {
  color: #174ea6;
  background-color: rgb(231, 239, 251);
  border-color: #174ea6;
}

button.button-danger {
  color:#ea4335 !important;
}

button.button-danger:hover {
  background-color: rgb(254, 238, 241) !important;
}